<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @students.name %>! A new Gist has been created.</h1>
    <p>
      A new gist has been created in your cohort. Follow the link below to check it out!<br/> <%= @url "GIST LINK GOES HERE" %>.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>