<div id="cohort-gists">
<h1>Gists</h1>
	<% if @gists.any? %>
		<ul>
			<% @gists.each do |gist| %>
	  			<li><%= link_to gist.title, gist_path(gist) %></li>
	 		<% end %>
		</ul>
	<% else %>
		<p>This Cohort Doesn't Have Any Gists Yet</p>
	<% end %>
</div>