<div id="cohort-students">
<h1>Students</h1>
  <% if @students.any? %>
    <table class="table">
      <tr>
        <th>Student</th>
        <th>Completion Rate</th>
        <th>Pending Assignments</th>
      </tr>
      <tr>
        <% @students.each do |student| %>
          <td><%=link_to student.name, student_path(student) %></td>
          <td><%= student.completion_rate %>%</td>
          <td><%= student.pending_assignments? %></td>
        <% end %>
      </tr>
    </table>
  <% else %>
    <p>This Cohort Doesn't Have Any Students Registered Yet</p>
  <% end %>
</div>