<div id="cohort-students">
<h1>Students</h1>
  <% if @students.any? %>
    <table class="table">
      <tr>
        <th>Student</th>
        <th>% of Complete Submissions</th>
        <th>% of Assignments Submitted </th>
        <th># of Unsubmitted Assignments</th>
      </tr>
        <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.completion_rate %>%</td>
          <td><%= student.submitted_hw? %>%</td>
          <td><%= student.pending_assignments? %></td>
        </tr>
        <% end %>
    </table>
  <% else %>
    <p>This Cohort Doesn't Have Any Students Registered Yet</p>
  <% end %>
</div>