<div id="cohort-students">
<h1>Students</h1>
  <% if @students.any? %>
    <table class="table">
      <tr>
        <th>Student</th>
        <th>Completion Rate</th>
        <th>Pending Assignments</th>
      </tr>
        <% @students.each do |student| %>
        <tr>
          <td><a href="/students/<%= student.id %>"><%= student.name %></a></td>
          <td><%= student.completion_rate %>%</td>
          <td><%= student.pending_assignments? %></td>
        </tr>
        <% end %>
    </table>
  <% else %>
    <p>This Cohort Doesn't Have Any Students Registered Yet</p>
  <% end %>
</div>