<h2>Assignments</h2>

<table>
<tr>
  <th>Date Assigned</th>
  <th>Title</th>
  <th>Assignment Link</th>
</tr>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.assigned_on %></td>
      <td><%= link_to assignment.title, assignment_path(assignment) %></a></td>
      <td><a href="<%= assignment.prompt_link %>">Click Here</a></td>
    </tr>
  <% end %>
</table>