<div id="submissions">
<h1>Submissions</h1>

<table class="table">
  <tr>
    <th>Date Submitted</th>
    <th>Title</th>
    <th>Link to Your Homework</th>
  </tr>
  <% @submissions.each do |submission| %>
    <tr>
      <td><%= submission.submitted_on %></td>
      <td><%= link_to submission.title, student_submission_path(@student.id, submission) %></td>
      <td><a href="<%= submission.submission_link %>">Click Here</a></td>
    </tr>
  <% end %>
</table>
</div>
