<div id="instructor-assignments">
<h1>Assignments Created by <%= @instructor.name %></h1>

<ul>
<% @assignments.each do |assignment| %>
	<li><%= link_to assignment.title, assignment_path(assignment) %></li>
<% end %>
</ul>

<%= link_to "New Assignment", new_assignment_path %>
</div>