<h1>Welcome to the Homework Hub</h1>

<%= form_tag("/login", method: "POST") %>
  <%= label_tag ""

<p>Select the appropriate link above to log in.</p>

<p>Not a member? Submit a profile request here!</p>