<div class="jumbotrontransparent jumbotron">
	<div class="jumbotronpersonalized jumbotron">
		<div class="tab-content"><h1>Gists</h1>
		<p> Title: <%= @gist.title %> </p>
		<p> Content: <%= markdown(@gist.content) %> </p>
		<p> Link: <%= @gist.gist_link%> </p>
		<p> Date: <%= @gist.date %> </p>
		<div class="center form-actions">
		<button class="tab-links previous-page">Back</button>
		</div>
	</div>
 </div>


<script>
$(document).ready(function(){ 
	$('.previous-page').click(function(){
		parent.history.back();
		return false;
	});
});
</script>



