<ul class="tab-all tabs" style="margin-top: 0; margin-bottom: 0;">
	<li class="tab-links previous-page">Back</li>
</ul>
<script>
$(document).ready(function(){
	$('.previous-page').click(function(){
		parent.history.back();
		return false;
	});
});
</script>

<div class="tab-content">
<h1>Gists</h1>

<p> Title: <%= @gist.title %> </p>
<p> Content: <%= @gist.content %> </p>
<p> Link: <%= @gist.gist_link%> </p>
<p> Date: <%= @gist.date %> </p>
</div>
</div>
