<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Register for the GA Homework Hub!</h1>
    <p>
      Hi!<br/>
      Please use the below code to register for the General Aseembly Homework Hub. 
      <br>
      You can register here: 
      <a href=<%= @url %>>GA HOMEWORK HUB</a>
      <br> <br>
      --GA TEAM
    </p>
  </body>
</html>