<div id="producer-cohorts">
<h1>My Cohorts</h1>
<ul>
<% @cohorts.each do |cohort| %>
  <li><%= link_to cohort.cohort_name, cohort_path(cohort) %> </li>
  <li>Start Date: <%= cohort.start_on %></li>
  <li>End Date: <%= cohort.end_on %></li>
<% end %>
</ul>
</div>
