<div id="producer-students-atrisk">
	<h1>At-risk Students</h1>
	<ul> 
  	<% @cohorts.each do |cohort| %>
    	<% cohort.students.each do |student| %> 
     		 <% if student.completion_rate <= 20 %>
      			<li> <a href="/cohorts/<%= cohort.id %>"><%=student.name%></a> </li>
      		<% end %>
    	<% end %>
  	<% end %>
	</ul>
</div>
