<div id="producer-students">
<h1>All Students at GA Under Me</h1>
<ul> 
  <% @cohorts.each do |cohort| %>
    <% cohort.students.each do |student| %> 
      <li> 
        <%=student.name%>
      </li>
    <% end %>
  <% end %>
</ul>
</div>

