<script>
$(document).ready(function(){
	$('#producer-cohorts').hide();
	$('#producer-students').hide();
});
</script>

<div class="jumbotrontransparent jumbotron">
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="#" class="button-producer-cohorts" style="margin-left: 10px; margin-right: 3px;">Cohorts</a></li>
	  <li role="presentation"><a href="#" class="button-producer-students">All Students</a></li>
	</ul>
	<div class="jumbotronpersonalized jumbotron">
		<h1><%= @producer.name %>'s Page</h1>
		<%= render 'cohorts' %> <!-- id="producer-cohorts" -->
		<%= render 'students' %> <!-- id="producer-students" -->
	</div>
 </div>


<script>
	$('.button-producer-cohorts').on('click', function(){
		$('#producer-cohorts').show();
		$('#producer-students').hide();
	});
	$('.button-producer-students').on('click', function(){
		$('#producer-cohorts').hide();
		$('#producer-students').show();
	});
</script>


