<%= render 'cohorts' %>

<ul> 
  <% @cohorts.each do |cohort| %>
  <ul>
    <% cohort.students.each do |student| %> 
      <li> 
        <%= student.name %>
      </li>
    <% end %>
  </ul>
  <% end %>
</ul>