<script>
$(document).ready(function(){
	$('#producer-cohorts').hide();
	$('#producer-students').hide();
});
</script>

<ul class="tab-all tabs" style="margin-top: 0; margin-bottom: 0;">
	<li class="tab-links button-producer-cohorts">Cohorts</li>
	<li class="tab-links button-producer-students">All Students</li>
</ul>

<script>
	$('.button-producer-cohorts').on('click', function(){
		$('#producer-cohorts').show();
		$('#producer-students').hide();
	});
	$('.button-producer-students').on('click', function(){
		$('#producer-cohorts').hide();
		$('#producer-students').show();
	});
</script>


<div class="tab-content">
<h1><%= @producer.name %>'s Page</h1>
<%= render 'cohorts' %> <!-- id="producer-cohorts" -->
<%= render 'students' %> <!-- id="producer-students" -->
</div>

