<h1>Producers Show Page</h1>

<ul><% @cohorts.each do |cohort| %>
  <li><%= cohort.cohort_name %></li>
  <li><%= cohort.start_on %></li>
  <li><%= cohort.num_students %></li>
</ul>




<!-- give it a hidden value that points to itself using 'this' which jquery can pull when the listener is triggered  -->