<script>
$(document).ready(function(){
	$('#producer-cohorts').hide();
	$('#producer-students').hide();
});
</script>

<ul>
	<li class="button-producer-cohorts">Cohorts</li>
	<li class="button-producer-students">All Students</li>
</ul>

<h1><%= @producer.name %>'s Page</h1>
<%= render 'cohorts' %> <!-- id="producer-cohorts" -->
<%= render 'students' %> <!-- id="producer-students" -->


<script>
	$('.button-producer-cohorts').on('click', function(){
		$('#producer-cohorts').show();
		$('#producer-students').hide();
	});
	$('.button-producer-students').on('click', function(){
		$('#producer-cohorts').hide();
		$('#producer-students').show();
	});
</script>


