@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: url(https://media.giphy.com/media/QsHnc6PWPIRVe/giphy.gif) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

html, body {
  height:100%;
}

.navbar-custom {
    background-color: white !important;
}

.header-logo {
  max-width: 220px;
  padding: 10px;
}

.logout {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: black;
  text-align: right;
  text-decoration: none;
  margin: 20px;
}

.header-label {
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
  margin: 0;
  color: black;
}

.jumbotab {
  color: white;
  background-color: black;
}

.jumbotronpersonalized {
 background-color: rgba(157, 41, 41, 0.8) !important;
 min-width: 80%;
 max-width: 80%;
 height:60%;
 margin: 10% auto;
 /*font-family: 'Open Sans', sans-serif !important;*/
 color: white !important;
 border-radius: 10px !important;
}

