@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  height:100%;
}

body {
  margin: 0 auto;
  /*background-image: url("https://farm4.staticflickr.com/3949/15375747017_176cc0ac7f_k.jpg");*/
  background: black url(https://media.giphy.com/media/QsHnc6PWPIRVe/giphy.gif) no-repeat center center;  
  background-attachment: fixed;
  background-size: cover;
  
}

input, textarea {
  color : black !important;
}

a {
  color: white !important;
}

.navbar-custom {
    background-color: white !important;
}

.header-logo {
  max-width: 220px;
  height: 50px;
  padding: 10px;
}

.hello {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
}

.logout {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: black !important;
  text-align: right;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  padding: 0;
  float: right;
}


.header-label {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 0;
  color: black;
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;
}

.jumbotronpersonalized {
 background-color: rgba( 157, 41, 41, .9);
 color: white;
 border-radius: 10px 10px 10px 10px !important;
 border: transparent 1px solid;
 height: 400px;
 overflow-y: scroll;
}

::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 230px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.jumbotrontransparent {
 background-color: transparent;
 min-width: 60%;
 max-width: 60%;
 margin: 8% auto;
}

.nav-tabs > li > a {
  background-color: rgba(157, 41, 41, .9);
  border: 1px transparent solid;
  border-radius: 10px 10px 0 0 !important;
  color: white;
  font-size: 14px;
  border-bottom: none !important;
}

div.form-actions { 
  width: 100%; 
  text-align: center;
}


